.container{
  text-align: center;
}

img{
  height: 200px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.col-lg-12 h1{
  margin-top: 70px;
}

p{
  margin-top: 20px;
}

.background_grey{
  background-color: #f9f9f9;
  margin-top: 100px;
}

.col-lg-4 h1{
  margin-bottom: 30px;
}
.col-lg-4 h3{
  margin-top: 30px;
}

.ultimo_titolo > h1{
  margin-top: 0;
}

.perche .row img{
  background-color: #428bca;
  border-radius: 50%;
  padding:20px;
  height: 240px;
  margin-top: 80px;
}

@media all and (min-width: 769px) and (max-width: 1200px) {
  .cont-md h3{
    margin-top: 50px;
  }

  .iniz-sn h3{
    margin-top: 10px;
  }
  .iniz-sn p{
    margin-bottom: 50px;
  }

  .background_grey{
    margin-top: 50px;
  }
}


  @media all and (max-width: 768px) {
    .background_grey{
      margin-top: 50px;
      background-color: gray;
    }

    .container-sm{
      background-color: black;
    }

    body{
      color: white;
    }



}
